<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% @person = Person.find_by_email session[:email] %>
  <% @products = Product.all %>

  <%= f.hidden_field :person_id, :value => @person.id.to_s %>
  <div class="field">
    <%= f.label :product_id, "What would you like to order?" %><br />
    <select name="order[product_id]" data-placeholder="Choose a product" class="chzn-select" style="width:250px;">
      <% @products.each do |p| %>
        <option value="<%= p.id %>"><%= p.name %> - $<%= p.price %></option>
      <% end %>
    </select>
  </div>
  <div class="field">
    <%= f.label :location, "Where should we drop this off?" %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :payment, "How would you like to pay?" %><br />
    <select name="order[payment]" data-placeholder="Choose a form of payment" class="chzn-select" style="width:250px;">
        <option value="Cash">Cash</option>

    </select>

  </div>
<!--   <div class="field">
    <select name="order[served]" data-placeholder="Fulfilled?" class="chzn-select" style="width:250px;">
        <option value="false" selected>Not Fullfilled</option>
        <option value="true">Fullfilled</option>
    </select>
  </div> -->
  <div class="actions">
    <%= f.submit "Order", :class => "btn" %>
  </div>
<% end %>
