<h1>Listing orders</h1>

<table cellpadding="5">
  <tr>
    <th>Person</th>
    <th>Product</th>
    <th>Location</th>
    <th>Payment</th>
    <th>Quantity</th>
    <th>Allergies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td>
        <% if !order.person.nil? %>
        <a href="/people/<%= order.person.id %>"><%= order.person.name %></a>
        <% end %>
    </td>
    <td>
        <% if !order.product.nil? %>
            <a href="/products/<%= order.product.id %>"><%= order.product.name %></a>
        <% end %>
    </td>
    <td><%= order.location %></td>
    <td><%= order.payment %></td>
    <td><%= order.quantity %></td>
    <td><%= order.allergies %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
