<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <a href="/people/<%= @order.person.id %>"><%= @order.person.name %></a>
</p>

<p>
  <b>Product:</b>
  <%= @order.product.name %>
</p>

<p>
  <b>Location:</b>
  <%= @order.location %>
</p>

<p>
  <b>Payment:</b>
  <%= @order.payment %>
</p>

<p>
  <b>Ordered at</b>
  <%= @order.created_at.to_time.strftime( "%m/%d/%Y at %I:%M%p") %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %>
