<p id="notice"><%= notice %></p>

<p>
  <b>Person:</b>
  <%= @order.person.name %>
</p>

<p>
  <b>Product:</b>
  <%= @order.product.name %>
</p>

<p>
  <b>Location:</b>
  <%= @order.location %>
</p>

<p>
  <b>Payment:</b>
  <%= @order.payment %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
